@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <BIG>Hello World, first ASP.NET web app on Open Shift Cloud container!</BIG>

    2003 DEERFIELD CROSSING<br />
    NEWTON, CT 06611<br />
    <abbr title="Phone">P:</abbr>
    888.NIL.TEST
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
